* {
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 30px;
    /* margin:20px; */
}
  
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (max-width: 767px) {
    [class*="col-"] {
        text-align: center;
    }
}
/* [class*="col-"] {
    float: left;
    padding: 15px;
  } */

[class*="col-"] img{
    max-width: 100%;
}
.row {
    padding: 40px 0px 20px 0px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h2, h3, h4 {
    text-align: center;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
p {
    color: #3a3a3a;
    font-size: 14px;
}
hr {
    margin: auto;
    width: 50px;
    border-color: #c73535;
    border-width: 2px;
    border-style: solid;
}
.container-1000 {
    max-width: 1000px;
    margin:auto;
}
.container-700 {
    max-width: 700px;
    margin:auto;
}
.header {
    /* padding: 20px; */
}
.header .logo {
    text-align: center;
}
.nav {
    /* padding: 20px; */
    background-color: #c73535;
    position:sticky;
    position:-webkit-sticky;
    top: 0;
    /* min-height: 60px; */
}
/* .nav .container-1000 .logo {
    text-align: center;
} */
.nav .menu {
    /* float: right; */
    text-align: center;
    padding-top: 10px;
}
.menu-item {
    color: #ffffff;
    margin: 0px 20px;
}
.btn-contact {
    color: #c73535;
    background-color: #ffffff;
    margin: 0px 20px;
    padding: 5px 20px;
    border-radius: 20px;
}
.hero {
    /* padding: 20px; */
    min-height: 400px;
    color: #ffffff !important;
    background-image: url("images/blog07-free-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c73535;
    background-blend-mode: darken;
    text-align: center;
}
.section {
    padding: 20px;
}
.services {
    /* padding: 20px; */
}
.clients {
    /* padding: 20px; */
    text-align: center;
}
.testimonials {
    /* padding: 20px; */
}
.testimonials img {
    height: 80px;
}
.certifications {
    text-align: center;
}
.certifications img {
    /* max-width: 260px; */
}
.footer {
    /* padding: 20px; */
    background-color: #000000;
}
.footer .logo {
    text-align: center;
}
.grey {
    background-color: #f6f6f6;
}
.shadow-box {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}
i {
    color:#c73535;
    font-size: 30px;
}
.center {
    text-align: center;
}
.btn-cnt {
    background-color: #0274be;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 30px;
}
.btn-primary {
    background-color: #c73535;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
}
.padding-bottom {
    padding-bottom: 30px;
}